[submodule "/Users/didi/Downloads/Codes/zwpaper.github.com/themes/fexo"]
	path = /Users/didi/Downloads/Codes/zwpaper.github.com/themes/fexo
	url = git@github.com:forsigner/fexo.git
[submodule "themes/fexo"]
	path = themes/fexo
	url = git@github.com:forsigner/fexo.git
[submodule "themes/next"]
	path = themes/next
	url = git@github.com:iissnan/hexo-theme-next.git
